$main-font:"Noto Sans", sans-serif;

// media
$width-lg: 1200px;
$width-md: 992px; 
$width-sm: 768px;
$width-ssm: 576px;
$width-xs: 420px;

// color
$white: #FFF;
$gray: #D3D8E4;
$primary:#00B6DD;
$secondary:#081580;
$black:#010101;

$duration: 0.4s;